@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
body {
    width: 100vw;
    height: 100vh;
    color: aliceblue;
    background-color: rgba(233, 149, 201, 0.925);
    font-family: 'Poppins', sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
    font-weight: 400;
    color: aliceblue;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #b71dbd;
    color: aliceblue;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #000000;
  }
  
  th {
    background-color: #6d0b70;
  }
  
  td.actions {
    text-align: center;
  }